@model IEnumerable<Prodap.Models.CentroDistribuicao>

@{
    ViewBag.Title = "Centro  de Distribuição";
}

<h2>Centro  de Distribuição</h2>

<p>
    @Html.ActionLink("Novo", "IncluirCentroDistribuicao")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NOME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UF)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ENDERECO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TELEFONE)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
   
   
    <td>
        @Html.DisplayFor(modelItem => item.NOME)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.UF)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ENDERECO)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TELEFONE)
    </td>
    <td>
        @Html.ActionLink("Alterar", "AlterarCentroDistribuicao", new { id = item.ID }) |
        @Html.ActionLink("Deletar", "Delete", new { id = item.ID }, new { onclick = "return confirm('Tem certeza que deseja excluir?')" })
    </td>

</tr>


    }

</table>
